
<h1 style="color:blue;">Ingrese datos</h1><br>
<form action="/personas" method="post">
        <div class="form-group"><label for="title"><b>Title</b></label><input id="nombre" class="form-control"
                        type="text" name="title"></div>
        <div class="form-group"><label for="price"><b>Price</b></label><input id="apellido" class="form-control"
                        type="number" name="price"></div>
        <div class="form-group"><label for="thumbnail"><b>Thumbnail</b></label><input id="edad" class="form-control"
                        type="text" name="thumbnail"></div><button class="btn btn-success mt-3 mb-5">Enviar</button>

</form>
<a href="/historialview"><button class="btn btn-danger mt-3 mb-5">ver historial</button></a>